:root {
  --primary-color: rgb(41, 123, 129);
  --secondary-color: rgb(41, 87, 79);
  --ternary-color: rgb(3, 64, 90);
  --color-nav-link: white;
  --color-nav-link-hover: rgb(187, 187, 187);
  --color-backgroud: rgb(236, 236, 236);
  --color-img-backgroud: rgb(59, 146, 184);
  --color-background-create-user: rgb(217, 217, 217);
  --btn-primary-color: #0d6efd;
  --btn-secondary-color: #6c757d;
  --btn-hover-color: rgb(1, 35, 49);
  --card-startup: #1782AF;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: white;
}

body img {
  display: inline;
}

/* NAVBAR */

.nav-color {
  background-color: var(--primary-color) !important;
}

.nav-link-logo {
  color: var(--color-nav-link) !important;
}

.nav-link {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--color-nav-link) !important;
  transition: 0.3s;
}

.nav-link:hover {
  transition: 0.3s;
  color: var(--color-nav-link-hover) !important;
}

/* X NAVBAR X */

/* HOME */

#container-home {
  margin-top: -20px;
  margin-bottom: 20px;
}

#logo-angel-invest {
  display: inline;
  width: 500px;
}

#home-box {
  text-align: center;
}

#home-text {
  margin-top: -30px;
  padding-left: 75px;
  padding-right: 75px;
}

#row-startups {
  background-color: white;
}

#row-cards-startups {
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.card-img-top {
  height: 150px;
}

.card-home {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.card-home .titles-pitch {
  position: relative;
  bottom: 40px;
  margin-bottom: -30px;
}

.qtd-investor {
  background-color: yellow;
  padding: 4px;
}

.card-home .title-startup {
  font-size: 24px;
  padding-left: 13px;
}

.card-home .title-proposta {
  position: relative;
  left: 10px;
  font-size: 20px;
  padding: 5px;
}

.card-home .name-startup {
  padding-left: 110px;
}

.card-home .area-startup {
  margin-top: -22px;
  position: relative;
  top: 40px;
}

.card-home .area-startup .span-area-startup {
  padding: 4px;
  background-color: green;
}

.img-logo {
  width: 100px;
}

/* X HOME X */

/* CADASTRO */

#colum-img {
  text-align: center;
}

#img-illustrative {
  display: inline;
  background-color: var(--color-img-backgroud);
  border-radius: 50% !important;
  padding: 10px;
  height: 170px;
  width: 170px;
  margin-top: -75px;
}

#top-img-div {
  height: 100px;
  width: 100%;
  background-color: var(--ternary-color);
}

#bottom-img-div {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1%;
  background-color: var(--color-background-create-user);
}

#btn-div {
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-outline-investidor-empreendedor {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
}

.btn-outline-investidor-empreendedor:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:focus + .btn-outline-investidor-empreendedor, .btn-outline-investidor-empreendedor:focus {
  color: #0d6efd;
  background-color: #f0f6ff;
  border-color: #0d6efd;
  font-weight: bold;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

button.selected{
  color: #0d6efd;
  background-color: #f0f6ff;
  border-color: #0d6efd;
  font-weight: bold;
}

.btn-outline-investidor-empreendedor:target {
  color: #0d6efd;
  background-color: #f0f6ff;
  border-color: #0d6efd;
  font-weight: bold;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-check:checked + .btn-outline-investidor-empreendedor, .btn-check:active + .btn-outline-investidor-empreendedor, .btn-outline-investidor-empreendedor:active, .btn-outline-investidor-empreendedor.active, .btn-outline-investidor-empreendedor.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:checked + .btn-outline-investidor-empreendedor:focus, .btn-check:active + .btn-outline-investidor-empreendedor:focus, .btn-outline-investidor-empreendedor:active:focus, .btn-outline-investidor-empreendedor.active:focus, .btn-outline-investidor-empreendedor.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-investidor-empreendedor:disabled, .btn-outline-investidor-empreendedor.disabled {
  color: #0d6efd;
  background-color: transparent;
}

#btn-div .btn-outline-primary:hover {
  background-color: var(--btn-primary-color);
}

#btn-div .btn-outline-secondary:hover {
  background-color: var(--btn-secondary-color);
}

#btn-div .input-group {
  position: relative;
  display: inline;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#form-registration {
  padding: 20px;
  padding-bottom: 0px;
}

#password-minimo {
  font-size: 12px;
}

#bottom-img {
  height: 80px;
  background-color: var( --color-background-create-user);
}

#bottom-form {
  height: 80px;
  background-color: var(--ternary-color);
}

.card-register {
  border-radius: 0px;
  padding-right: 11px;
  padding-left: 11px;
}

#input-profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-background-create-user);
  transition: 0.3s;
}

#input-profile-photo:hover {
  background-color: rgb(184, 184, 184);
  cursor: pointer;
  transition: 0.3s;
}

/* X CADASTRO X */

/* X CADASTRO STARTUP X*/
#left-div-create {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100%;
  background-color: #EEEEEE;
}

#bottom-left-div-create {
  height: 80px;
  background-color:  #EEEEEE;
}

.side-titulo {
  font-weight: bold;
  font-size: 22px;
}

.etapa-nome-selected {
  padding-left: 20px;
  color: #009FC2;
  font-weight: bold;
}

.etapa-nome {
  padding-left: 20px;
}

.circulo-selected {
  width: 28px; 
  height: 28px; 
  border:3px solid #009FC2; 
  border-radius: 60%; 
  background-color: white;

}

.circulo {
  width: 28px;
  height: 28px;
  border:1px solid #8E8E8E;
  border-radius: 60%;
  background-color: white;
}

.numero-selected {
  text-align: center; 
  color: #009FC2; 
  font-weight: bold;
}

.numero {
  text-align: center;
  padding-top: 2px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* X CADASTRO STARTUP X*/
/* INDEX PROPOSTA */

.card {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}

#div-card-hearder {
  background-color: var(--ternary-color);
  border-color: var(--ternary-color);
}

.border-none {
  border: none;
}

.titulo-pag {
  border-bottom: black solid 2px;
  padding-left: 20px;
}

.btn-default {
  background-color: #296781;
}

.btn-yellow {
  background-color: #ebca2a;
}

.btn-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.border {
  border-radius: 10px;
}

.btn-default:hover {
  background-color: var(--ternary-color);
}

.btn-default:focus {
  background-color: var(--ternary-color);
}

.btn-yellow:hover {
  background-color: #b18f20;
}

.btn-yellow:focus {
  background-color: #b18f20;
}

.span-btn-add {
  position: relative;
  bottom: 5px;
}

.index-proposta .titles-pitch .title-startup {
  font-size: 18px;
}

/* X INDEX PROPOSTA X */

/* CREATE PROPOSTA */


.card-feature {
  border-radius: 0px;
}

.card-feature .col-card {
  position: relative;
}

.card-feature #bottom-form-startup {
  background-color: var(--ternary-color);
  height: 75px;
}

.card-feature .div-checks {
  background-color: #eeeeee;
}

.card-feature .div-form {
  background-color: #f3f3f3;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: 0px;
  padding-right: 15px;
  font-size: 14px;
}

.card-feature .card-title {
  font-weight: bolder;
}

.card-feature .checks {
  color: #6c757d;
}

.card-feature .btn-numeral {
  font-weight: bolder;
  width: 20px;
  height: 20px;
  background-color: white;
  padding: 5px 9px 5px 9px;
  border: #6c757d85 solid 1px;
  border-radius: 50%;
  transition: 0.3s;
}

.card-feature .active {
  color: #2c9cff;
  cursor: pointer;
}

.card-feature .active .btn-numeral {
  border: var(--btn-active-color-startup) solid 2px;
  color: var(--btn-active-color-startup);
  cursor: pointer;
}

.card-feature .step-form:hover {
  color: var(--ternary-color);
  transition: 0.3s;
  cursor: pointer;
}

.card-feature .step-form:hover > .btn-numeral {
  border: var(--ternary-color) solid 2px;
  color: var(--ternary-color);
  cursor: pointer;
  transition: 0.3s;
}

.card-feature .check-step-numeral {
  width: 32px;
  height: 32px;
  padding: -5px;
}

#img-input-video {
  width: 200px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.bottom-form {
  height: 100px;
  width: 104%;
  margin-top: 15px;
  margin-bottom: -17px;
  background-color: var(--ternary-color);
}

.card-click {
  cursor: pointer;
}

/* X CREATE PROPOSTA X */

/* SHOW PROPOSTA */

#btn-voltar {
  position: relative;
  top: 80px;
  left: 30px;
  margin-top: -30px;
  text-decoration: none;
}

#video-proposta {
  /* margin-top: -15px; */
}

#span-area-proposta-startup {
  padding: 5px;
}

.documentos {
  display: inline-block;
  background-color: #c4c4c4;
  padding: 4px;
  margin: -3px;
}

/* X SHOW PROPOSTA X */

/* FOOTER */

footer {
  background-color: var(--primary-color);
  margin-top: 70px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

#logo-footer {
  padding-top: 25px;
  width: 150px;
  height: auto;
}

#logo-ufape {
  height: 80px;
}

.btn-color-dafault {
  background-color: var(--ternary-color);
  border-color: var(--ternary-color);
}

.btn-color-dafault:hover {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
}

.btn-color-dafault:focus {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
  box-shadow: 0 0 0 0.2rem var(--btn-hover-color);
}

label {
  font-weight: 600;
}

#text-bnt-users {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-users {
  font-size: 18px;
}

/* X FOOTER X */

/* FORM CREATE STARTUP */

.border-ternary {
  border: 1px solid var(--ternary-color);
}

.text-red {
  color: red;
}

.text-ternary {
  color: var(--ternary-color);
}

.branco-transparente {
  background-color: rgba(241, 245, 249, 0.7);
}

.bg-verde {
  background-color: #34a877;
}

.bg-verde:hover {
  background-color: #1e5f44;
}

.form-envia-documentos {
    width: 100%;
}

.form-envia-documentos [type='file'] {
    display: none;
}

.form-envia-documentos .label-input {
    border: 1px solid var(--ternary-color);
    color: white;
    background-color: var(--ternary-color);
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--ternary-color);
    transition: 0.3s;
}

.form-envia-documentos .label-input:hover {
    transition: 0.3s;
    background-color: var(--btn-hover-color);
    cursor: pointer;
    padding: 8px;
    box-shadow: 1px 2px 3px var(black);
}

.form-envia-documentos .label-input:after {
    content: "Anexe o arquivo .pdf";
}
.form-envia-documentos .titulo-documento {
    color: var(--secundaria);
    font-weight: bolder;
}

.form-envia-documentos .form-input-radio:checked {
    background-color: var(--primaria);
}

/* STARTUP */ 

.card-startup {
  border: none;
  border-radius: 0px;
}

.card-startup .card-header {
  border: none;
  border-radius: 0px;
}

.card-startup .card-header {
  background-color: var(--card-startup);
}

.card-startup .categoria {
  padding: 3px;
  background-color: #FFD7D7;
}

.card-startup .text-startup {
  font-size: 12px;
}

.card-startup .arrow-down {
  width: 30px;
}

.card-startup .card {
  background-color: white;
}

.card-startup .icon-investidor {
  width: 100px;
  height: auto;
}

.card-startup .row-collapse {
  border-top: 2px solid rgb(95, 95, 95);
}

.card-startup .text-proposta {
  font-size: 10px;
}

.card-startup .icon {
  height: 20px;
  width: auto;
}

.card-startup  .img-circle {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.link-default {
  text-decoration: none;
  color: black;
}

/* X STARTUP X */

/* INDEX LEILÃO */

.default-table-head-color {
  background-color: var(--ternary-color);
  --bs-table-bg: var(--ternary-color);
  --bs-table-striped-bg: var(--ternary-color);
  --bs-table-active-bg: var(--ternary-color);
  --bs-table-hover-bg: var(--ternary-color);
  border-color: var(--ternary-color);
}

/* X INDEX LEILÃO X */

/* BUSCA */

#container-search {
  background-color: var(--ternary-color);
  padding-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 80px;
  color: white;
}

#logo-angel-invest {
  display: inline;
  width: 500px;
}

.search-box {
  text-align: center;
}

#search-text {
  margin-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
}

#search-text-title {
  margin-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
}

.numero-destaque-color {
  color: #f4d733;
}

.btn-search {
  background-color: #2387B1;
  border-color: #2387B1;
}

.btn-search:hover {
  background-color: #1b6a8b;
  border-color: #1b6a8b;
}

.search-span {
  color: #B5E0FF;
  font-weight: bolder;
}

#collapse-search .card {
  background-color: #297B81; 
  /* text-align: left; */
}

/* X BUSCA X */

/* X VIDEO BUTTON PLAYER X */
.video-link {
  display:block; 
  overflow:visible;
  cursor: pointer;
}

.video-link .thumbnail {
  width:100%;
  object-position: center;
}

.video-link::after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:50%;
  width:100%;
  background-image:url("//cyara.com/wp-content/uploads/resources/play-button.png");
  background-position: center center;
  background-repeat:no-repeat;
  background-size:20%;
  filter: drop-shadow(0 0 10px rgba(0,0,0,.4));
}

.video-link:hover::after {
  background-size:22%;
  -webkit-transition: background-size .2s ease-in-out;
  -moz-transition: background-size .2s ease-in-out;
  -o-transition: background-size .2s ease-in-out;
  transition: background-size .2s ease-in-out;
}
/* X VIDEO BUTTON PLAYER X */

/* X VALIDACAO DE SENHA X */
.Short {
  width: 100%;
  background-color: #dc3545;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 3px;
  color: #dc3545;
  font-weight: 500;
  font-size: 14px;
}

.Weak {
  width: 100%;
  background-color: #ffc107;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 3px;
  color: #ffc107;
  font-weight: 500;
  font-size: 14px;
}

.Good {
  width: 100%;
  background-color: #28a745;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 3px;
  color: #28a745;
  font-weight: 500;
  font-size: 14px;
}

.Strong {
  width: 100%;
  background-color: #007fd3;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 3px;
  color: #007fd3;
  font-weight: 500;
  font-size: 14px;
}

.Invalida {
  color: #dc3545;
  font-weight: 500;
  font-size: 14px;
}

.Valida {
  color: #28a745;
  font-weight: 500;
  font-size: 14px;
}

/* X VALIDACAO DE SENHA X */
/* PAGAMENTO */
.card-carteira {
  background-color: var(--ternary-color) !important;
}
/* X PAGAMENTO X */
